In [1]:
s1='Python'
print(s1)

Python

In [15]:
print(s1[0:2])
print(s1[2:5])
print(s1[2:])
print(s1[:2])
print(s1[-1:])
print(s1[:-1])
print(s1[1:-1])

Py
tho
thon
Py
n
Pytho
ytho

In [2]:
s1[-1::-1]   #reverse of a string

'nohtyP'

In [3]:
s1[::2]    #access the characters in string alternate

'Pto'

In [4]:
s1[::-2]    #access the characters from reverse direction

'nhy'

In [5]:
s1[::3]   #access the characters with the alternate.

'Ph'

In [17]:
#reverse the string
def reverse_string(s):
    return s[-1::-1]

reverse_string('Python')

'nohtyP'

In [21]:
#to check whether given string is palindrome or not
def isPalindrome(s):
    if s == s[-1::-1]:
        return True
    return False
print(isPalindrome('Python'))
print(isPalindrome('ganag'))

False
True

In [29]:
#Python ascii number system:
#[A-Z] -> 65 - 90
#[a-z] -> 97 - 122
#[0-9] -> 48 - 57

print(ord('a'))
print(ord('A'))
print(ord('z'))
print(ord('Z'))
print(ord('1'))
print(ord('9'))

97
65
122
90
49
57

In [33]:
#Print the upper case characters in the string
def printUpper(s):
    for i in range(len(s)):
        if ord(s[i]) >= 65 and ord(s[i]) <=90 :
            print(s[i],end=' ')
    return
print(printUpper('PyThon'))

P T None

In [47]:
#function to return output as "samecount" if the lower and upper characters are equal else return "Programming"
def count_char(s):
    count_upper = 0
    count_lower = 0
    
    for i in range(len(s)):
        if ord(s[i]) >= 65 and ord(s[i]) <= 90 :
            count_upper += 1
        elif ord(s[i]) >= 97 and ord(s[i]) <= 122 :
            count_lower += 1
    if count_upper == count_lower :
        return 'SameCount'
    return 'Programming'
                
print(count_char('PyThoN'))
print(count_char('PythoN'))

SameCount
Programming

In [58]:
#function to extract the digits in the given input:
def extract_digit(s):
    for i in range(len(s)):
        if ord(s[i]) >= 48 and ord(s[i]) <= 57 :
            print(s[i],end=' ')
    return
print(extract_digit('Appli18cation89'))

1 8 8 9 None

In [76]:
#Functions to add the digits opf the string
#Input : Appli18cation89
#ouutput :26(1+8+8+9)
def count_digits(s):
    count=0
    for i in range(len(s)) :
        if ord(s[i]) >= 48 and ord(s[i]) <= 57:
            print(s[i],end=' ')
            count+=(ord(s[i]) - 48)
    return count
count_digits('Appli18cation89')

1 8 8 9

26

In [80]:
#Print the 2nd word in upper case:
def wordUpper_case(s):
    count_space = 0
    for i in range(len(s)):
        if ord(s[i]) == 32 :
            count_space+=1
        if count_space == 1 :
            if ord(s[i]) >= 65 and ord(s[i]) <= 90 :
                print(s[i],end='')
            elif ord(s[i]) >= 48 and ord(s[i]) <= 122 :
                print(chr(ord(s[i])-32),end='')
        if count_space == 2 :
            break
    return
    
wordUpper_case("Python Made Easy")

MADE

In [91]:
list1=[1,5,3,6,2]
list2=['Gitam',3,6,2,"Hyd"]
print(list1)
print(list2)

[1, 5, 3, 6, 2]
['Gitam', 3, 6, 2, 'Hyd']

In [114]:
print(list1[0])
#1
print(list1[1])
#5
print(list1[-1])
#2
print(list1[-2])
#6
print(list1[2:])
#[3, 6, 2]
print(list1[-2:])
#[6, 2]
print(list1[:1])
#[1]
print(list1[:-1])
#[1, 5, 3, 6]
print(list1[-1:])
#[2]
print(list1[1:-3])
#[5]

1
5
2
6
[3, 6, 2]
[6, 2]
[1]
[1, 5, 3, 6]
[2]
[5]

In [116]:
list2=['Gitam',1528,2018,2019,'Hyd']
print(list2)
#update the list
list2[1] = 1234
print(list2)

['Gitam', 1528, 2018, 2019, 'Hyd']
['Gitam', 1234, 2018, 2019, 'Hyd']

In [117]:
#delete the list
del list2[3]
print(list2)

['Gitam', 1234, 2018, 'Hyd']

In [134]:
li=[1,2,3,4,5]
print(li)
print(len(li)) #length of the list

print(li*2) #print a copy of the list

print(4 in li) # find the digits

print(10 in li)  # find the digits

#print the digits from the list method 1
for i in range(len(li)):
    print(li[i],end=' ')
print()
#print the digits from the list method 2
for i in li :
    print(i,end=' ')

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False
1 2 3 4 5
1 2 3 4 5

In [136]:
#find the max among the list
li=[1,9,16,25,5]
print(max(li)) #max among the list
print(min(li)) #min among the list
print(sum(li)) #sum of the list
print(sum(li)//len(li)) #avg of the list

25
1
56
11

In [156]:
#li.append(29)
#li.insert(2,56)
#li.count(29)
#li.index(56)
li

[1, 9, 56, 16, 25, 5, 29]

In [162]:
#li.sort()
li.pop()
li

[1, 5, 9, 16]

In [165]:
li1=[1,5,9,16,25,36]
li.extend(li1)
li.reverse()
li

[36, 25, 16, 9, 5, 1, 36, 25, 16, 9, 5, 1, 36, 25, 16, 9, 5, 1, 16, 9, 5, 1]

In [172]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,7))

45
1

In [181]:
def leastnumber(li):
    li.sort()
    return li[0]
def genericnumber(li,n):
    li.sort()
    return li[n]
li=[19,1,25,6,9,45,22]
print(leastnumber(li))
print(genericnumber(li,))

1
19

# File Handling

In [199]:
def createfile(filename):
    f=open(filename,'w')
    for i in range(10):
        f.write("This is %d Line \n"%i)
    print("file is created successfully")
    return
createfile('data.txt')

file is created successfully

In [187]:
pwd

'C:\\Users\\admin\\ritesh1'

In [200]:
def appendmode(filename):
    f=open(filename,'a')
    f.write('Gitam Hyderabad \n')
    f.write('Python Programming \n')
    print("Program created successfully")
    return
appendmode('data.txt')

Program created successfully

In [201]:
def readfiledata(filename):
    f = open(filename,'r')
    if f.mode == 'r':
        a = f.read()
        print(a)
    f.close()
    return
readfiledata('data.txt')

This is 0 Line
This is 1 Line
This is 2 Line
This is 3 Line
This is 4 Line
This is 5 Line
This is 6 Line
This is 7 Line
This is 8 Line
This is 9 Line
Gitam Hyderabad
Python Programming

In [202]:
def wordcount(filename):
    f = open(filename,'r')
    if f.mode == 'r':
        a=f.read()
        li=a.split()
    return len(li)
wordcount('data.txt')

44